<form action="<%= checkAddress_path %>" method="GET">
    <div class="row">
        <div class="small-12 columns">
            <label>Address</label>
            <input type="text" name="address" placeholder="e.g.: 2516 Cincinnati St, Los Angeles, CA" required />
            <input type="submit" class="button tiny round" value="Find" />
        </div>
    </div>
</form>
