<form action="<%= checkAddress_path %>" method="GET">
    <div class="row">
        <div class="small-12 columns">
            <h1>The Honest Politician</h1>
            <h3>Find out who's representing you</h3>
            <label>Address</label>
            <input type="text" name="address" placeholder="e.g.: 2516 Cincinnati St, Los Angeles" required />
            <input type="submit" class="button tiny round" value="Find" />
        </div>
    </div>
</form>
